.WeatherForecastDay {
  text-shadow: var(--text-shadow);
  font-weight: 400;
}

.WeatherForecastDay .day {
  text-shadow: var(--text-shadow);
  font-size: 1rem;
}

.WeatherForecastDay .temperature {
  font-size: 1rem;
}

.WeatherForecastDay .temperature-min {
  opacity: 0.8;
}
