.Weather .weather-description {
  background: var(--bkg-forecast);
  background-blend-mode: soft-light;
  border: none;
  border-radius: 20px;
}

.Weather h1 {
  filter: var(--filter-drop-shadow);
  text-shadow: var(--text-shadow);
  text-transform: capitalize;
}

.Weather p {
  filter: var(--filter-drop-shadow);
  text-shadow: var(--text-shadow);
  text-transform: capitalize;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style: none;
  filter: var(--filter-drop-shadow);
  text-shadow: var(--text-shadow);
}

.Weather .temperature {
  font-size: 56px;
  filter: var(--filter-drop-shadow);
  text-shadow: var(--text-shadow);
}

.Weather .units {
  position: relative;
  top: -32px;
  font-size: 14px;
  filter: var(--filter-drop-shadow);
  text-shadow: var(--text-shadow);
}

.Weather .list-of-cities {
  padding-top: 5px;
}

.Weather .list-of-cities button {
  color: var(--main-text-color);
  padding-right: 0px;
  font-weight: 300;
  font-size: 13px;
  text-shadow: var(--text-shadow);
  filter: var(--filter-drop-shadow);
}

.Weather .list-of-cities button:hover {
  text-decoration: underline;
}

.Weather .input-keyword {
  background-color: var(--main-background-color);
  border: var(--border-color);
  color: var(--main-text-color);
  font-size: 15px;
  font-weight: 300;
  border-radius: 0.375rem;
}

.Weather .input-keyword:focus {
  border: 1px solid var(--main-text-color);
  outline: 0 !important;
}

.Weather .input-group .form-control {
  border: var(--border-color);
}

.Weather .form-control:focus {
  color: var(--main-text-color);
  border: 1px solid var(--main-text-color) !important;
  background-color: var(--main-background-color);
  outline: 0;
  box-shadow: none;
}

.Weather .form-control::placeholder {
  color: var(--main-text-color);
  opacity: 0.7;
}

.Weather .btn-outline-light:active,
.btn-outline-light:focus {
  box-shadow: none !important;
  outline: 0 !important;
}

.Weather .btn-search {
  border: var(--border-color);
  background-color: var(--main-background-color);
  font-size: 15px;
  padding: 0 0.75rem;
  margin: 0 4px;
}

.Weather .btn-search:hover {
  border: var(--border-color);
  background-color: var(--main-text-color);
  color: #000;
}

.Weather .btn-location {
  border: var(--border-color);
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  padding: 0 0.75rem;
}

.Weather .btn-location:hover {
  border: var(--border-color);
  background-color: var(--main-text-color);
  color: #000;
}
