:root {
  --bkg-forecast: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6) 75%,
    rgba(240, 238, 238, 0) 100%
  );
  --text-shadow: #000 0 0 10px;
  --main-text-color: #fff;
  --border-color: 1px solid rgba(0, 0, 0, 0.8);
  --main-background-color: rgba(0, 0, 0, 0.5);
  --filter-drop-shadow: drop-shadow(0 0 2px rgba(0, 0, 0, 0.6));
}

.App {
  margin: 0 auto;
  max-width: 960px;
}
