.Forecast .card {
  background: var(--bkg-forecast);
  background-blend-mode: soft-light;
  border: none;
  border-radius: 20px;
}

.Forecast .forecast-date {
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.6));
}

.Forecast .forecast-icon {
  width: 50px;
}

.Forecast .forecast-temperature-min {
  opacity: 0.8;
}
