.Search .input-keyword {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 16px;
  font-weight: 200;
  border-radius: 0.375rem;
  box-sizing: border-box;
  outline: 0;
  font-family: "SF Pro Text", "SF Pro Icons", Segoe UI, SegoeUI,
    "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.Search .input-keyword:focus {
  border: 1px solid #fff;
  outline: 0 !important;
}

.Search .input-group .form-control {
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.Search .form-control:focus {
  color: #fff;
  border: 1px solid #fff !important;
  background-color: rgba(0, 0, 0, 0.5);
  outline: 0;
  box-shadow: none;
}

.Search .form-control::placeholder {
  color: #fff;
  opacity: 0.7;
}

.Search .btn-outline-light:active,
.btn-outline-light:focus {
  box-shadow: none !important;
  outline: 0 !important;
}

.Search .btn-search {
  border: 1px solid rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0 0.75rem;
  margin: 0 4px;
}

.Search .btn-search:hover {
  border: 1px solid rgba(0, 0, 0, 0.8);
  background-color: #fff;
  color: #000;
}

.Search .btn-location {
  border: 1px solid rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0 0.75rem;
}

.Search .btn-location:hover {
  border: 1px solid rgba(0, 0, 0, 0.8);
  background-color: #fff;
  color: #000;
}
