.WeatherForecastDay .day {
  font-size: 1rem;
  padding-top: 10px;
  padding-bottom: 7px;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.6));
  margin-bottom: 6px;
}

.WeatherForecastDay .temperature {
  font-size: 1rem;
  font-weight: 400;
}

.WeatherForecastDay .temperature-min {
  opacity: 0.8;
  padding-left: 5px;
}
